@reference "tailwindcss";

.layout {
  @apply flex flex-row overflow-x-hidden overflow-y-auto;
  max-width: 100dvw;
  min-height: 100dvh;
  max-height: 100dvh;
}

.sidebar {
  @apply bg-[#f4f4f5] w-48 overflow-hidden transition-all duration-300 ease-in-out 
            m-2 rounded-xl shadow-lg border border-gray-300 p-2 overflow-y-auto;
}

.sidebar--collapsed {
  @apply w-auto;
}

.logo {
  @apply flex items-center justify-center cursor-pointer select-none gap-0 px-2.5 h-16
          transition-all duration-300 ease-in-out;
}

.logo__image {
  @apply h-8 w-8 aspect-square transition-all duration-300 ease-in-out;
}

.logo__text {
  @apply opacity-0 max-w-0 overflow-hidden;
}

.nav {
  @apply flex flex-col mt-4 gap-1;
}

.sidebar--collapsed .nav {
  @apply gap-2;
}

.sidebar--collapsed {
  @apply p-1;
}

.nav__link {
  @apply flex items-center px-4 py-3 hover:bg-gray-200 transition-colors 
          duration-200 relative no-underline text-inherit rounded-xl 
          border border-transparent hover:border-gray-300;

  &:global(.active) {
    @apply bg-gray-200 border-gray-300 font-bold;
  }
}

.nav__icon {
  @apply w-6 h-6 flex-shrink-0;
}

.nav__content {
  @apply flex items-center gap-3;
}

.nav__label {
  @apply font-medium text-sm opacity-100 overflow-visible transition-all 
          duration-300 ease-in-out whitespace-nowrap;
}

.sidebar--collapsed .nav__content {
  @apply flex flex-col items-center justify-center gap-2 w-full h-full;
}

.sidebar--collapsed .nav__label {
  @apply text-xs text-center leading-tight px-1;
}

.sidebar--collapsed .nav__link {
  @apply justify-center items-center w-16 h-16 p-3 mx-1 my-1;
}

.sidebar--collapsed .nav__icon {
  @apply w-6 h-6;
}

.main {
  @apply flex-1 flex flex-col p-2 md:pl-0 gap-2 overflow-y-auto;
}

.content {
  @apply relative flex-1 overflow-hidden z-1 p-1;
}

.content__inner {
  @apply p-1 flex-1 overflow-y-auto h-full;
}

.topbar,
.content {
  @apply bg-white border border-gray-200 rounded-xl shadow-sm;
}

.topbar {
  @apply flex items-center justify-between
          px-6 h-16 top-0 left-0 right-0 z-10;
}

.breadcrumbs {
  @apply text-xl font-semibold text-gray-900 pl-10;
}

@media (min-width: 768px) {
  .breadcrumbs {
    @apply pl-0;
  }
}

.button--avatar {
  @apply focus:outline-none;
}

.avatar {
  @apply w-10 h-10 rounded-full bg-gray-300 cursor-pointer;
}

.hamburger {
  @apply fixed top-5 left-5 z-40 p-2 rounded-xl bg-gray-900 text-white md:hidden focus:outline-none 
          focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.closeButton {
  @apply absolute top-5 right-5 p-2 rounded-xl text-gray-400 hover:text-white focus:outline-none 
          focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
