@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary-black: #000000;
  --color-primary-green: #10b981; /* emerald-500 */
  --color-hero-purple: #4f46e5; /* indigo-600 */
  --color-badge-yellow: #fef08a; /* yellow-200 */
  --color-bg-gray: #f9fafb; /* gray-50 */
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}
