@reference "tailwindcss";

.searchBox {
  @apply w-full rounded-xl border border-gray-300 px-3 py-2 flex items-center gap-2 text-gray-700 
          focus-within:ring-1 focus-within:ring-blue-500 transition-all duration-150;
}

.searchInput {
  @apply flex-grow bg-transparent outline-none text-gray-700 placeholder-gray-400;
}

.clearButton {
  @apply text-gray-500 hover:text-gray-700 focus:outline-none cursor-pointer;
}
